img {
  border-radius: 75px;
}

h1 {
  font-size: 28px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

body {
  background-color: slateblue;
  font-family: "Trebuchet MS";
  color: white;
  text-align: center; 
  justify-content: center;
  align-items: center; 
  
}

a {
  background-color: white;
  transition: background-color 0.3s ease;
  font-size: 20px;
  border-radius: 10px;
  padding: 15px 30px;
   text-decoration: none;         
  outline: 2px solid #000;       
  outline-offset: 4px;           
  
}

a {
   display: block;
    width: 100%;
    max-width: 400px;
   text-align: center;
    margin: 0px auto 10px;
    
    padding: 15px 0;
  color: slateblue;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover {
  background-color: black;
  text-decoration: underline;
  transform: scale(1.1);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

  .wrapper {
      text-align: center;
      margin-top: 20px;
    }
